<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magenmagic\AgeVerification\Observer\Customer\Login">
        <arguments>
            <argument name="response" xsi:type="object">Magento\Framework\App\Response\Http</argument>
        </arguments>
    </type>

    <type name="Magenmagic\AgeVerification\Observer\Customer\RegistrationSuccess">
        <arguments>
            <argument name="customerRepositoryInterface" xsi:type="object">Magento\Customer\Api\CustomerRepositoryInterface</argument>
        </arguments>
    </type>

    <type name="\Magento\Customer\Block\Account\Dashboard\Info">
        <plugin name="magenmagic_age_verification_dashboard_info" type="\Magenmagic\AgeVerification\Plugin\Customer\Block\Account\Dashboard\Info" sortOrder="1"/>
    </type>

    <type name="\Magento\Payment\Model\Method\AbstractMethod">
        <plugin name="magenmagic_age_verification_payment_method_abstract" type="\Magenmagic\AgeVerification\Plugin\Payment\Model\Method\AbstractMethod" sortOrder="1"/>
    </type>

    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="magenmagic_age_verification_dob_checkout" type="\Magenmagic\AgeVerification\Plugin\Checkout\Block\Checkout\LayoutProcessor" sortOrder="1"/>
    </type>
</config>